.App {
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #4e0beb;
}

.userDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.userDetails > p {
  margin-right: 10px;
  color: #fff;
}

.userDetails > img {
  border-radius: 50%;
}

.userDetails > button {
  margin-left: 10px;
}

.links > .home, .login, .posts{
  margin: 10px;
  text-decoration: underline;
  color: #fff;
}

.forms {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.postContents {
  background-color: #4000d4a4;
  padding: 40px;
  border-radius: 15px;
}

.postContents > .title, .desc {
  padding: 10px 10px 10px 5px;
  border-radius: 10px;
  border: none;
}

.postContents > .submitBtn {
  padding: 8px 30px;
  border: none;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
} 

.postContents > .submitBtn:hover {
  background-color: rgba(0, 0, 0, 0.829);
  cursor: pointer;
}

.mainContents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.postTitle {
  text-decoration: underline;
}